<h1>新規商品登録フォーム</h1>

<%= form_for @item do |f| %>
  <p>
   商品名:<br>
   <%= f.text_field :name %>
  </p>

  <p>
   商品詳細:<br>
   <%= f.text_area :description %>
  </p>

  <p>
   価格:<br>
   <%= f.number_field :price %>
  </p>

  <p>
   電子メール:<br>
   <%= f.text_field :email %>
  </p>

  <p>
   イメージ画像URL:<br>
   <%= f.text_field :image_url %>
  </p>

  <%= f.submit "登録する" %>


<% end %>
